@font-face {
    font-family: CevicheOne;
    src: url(./Fonts/CevicheOne-Regular.otf);
}

@font-face {
    font-family: PermanentMarker;
    src: url(./Fonts/PermanentMarker.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./Fonts/Poppins-Medium.otf);
}

html body {
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    font-family: Poppins;
}

header {
    /* background-color: yellow; */
    /* background-color: grey; */
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0px, rgba(0, 0, 0, 0.05) 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgb(255, 52, 154), rgb(0, 162, 255));
    /* flex: 1; */
    /* background-image: url("./Images/RainbowUnicornBanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 5em;
}

header h1 {
    font-family: CevicheOne;
    font-weight: bold;
    position: relative;
    left: 30px;
    font-size: 1em;
}

header h1 span {
    font-size: 0.8em;
}

header h1 a {
    text-decoration: none;
    color: black;
}

#main {
    display: flex;
    /* flex: 29; */
    height: 90vh;
    flex-flow: row;
    width: 100%;
    /* height: 100%; */
}

#boutique {
    display: flex;
    flex: 3;
    max-height: 96.66vh;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
    overflow-y: scroll;
    overflow-x: hidden;
}

.boutiqueContainer {
    /* background-color: red; */
    margin: 3% 0 3% 0;
    display: flex;
    max-width: 94%;
    min-width: min-content;
    flex-flow: row;
    align-items: flex-start;
    /* justify-content: space-around; */
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 10px;
}

.articleBox {
    display: flex;
    flex-flow: column;
    padding: 12px;
    background-color: white;
    width: 300px;
    height: 300px;
    /* border: black 2px solid; */
    /* margin: 5px; */
    margin: 15px;
    border-radius: 1%;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* margin-bottom: 3%; */
}

.articlePicture {
    height: 200px;
    width: 300px;
    /* border: tomato 1px solid; */
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.articlePicture img {
    width: 300px;
    /* flex: 1; */
    height: auto;
    box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.articleAjouterBox {
    width: 0px;
    background-color: white;
    /* background-color: hotpink; */
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}

.articleAjouterBox img {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.articleAjouterBoxPrint {
    /* background-color: turquoise; */
    /* flex: 2; */
    width: 100%;
    padding: 12px;
}

.articleAjouterQuantLibelle {
    font-style: italic;
    color: grey;
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    top: 2px;
}

.articleAjouterDescription {
    width: 140px;
    padding-left: 10px;
    font-size: 0.9em;
}

.articleAjouterBoxPrint input {
    width: 126px;
    border-radius: 0;
    font-family: Poppins!important;
}

.articleAjouterButtonContainer {
    /* background-color: hotpink; */
    /* flex: 1; */
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.articleAjouterButton {
    width: 90%;
    height: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
}

.articleAjouterButtonDisabled {
    opacity: 0.25;
}

.articleAjouterButton:hover {
    transform: scale(1.05);
    background-color: hotpink;
    transition: transform 0.1s;
    cursor: pointer;
}

.articleAjouterButtonDisabled:hover {
    transform: scale(1);
    background-color: whitesmoke;
    cursor: pointer;
}

.articleAjouterButton img {
    height: 30px;
    width: auto;
    position: relative;
    top: 10px;
    left: 5px;
}

.articleText {
    /* color: tomato; */
    display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    font-family: PermanentMarker;
}

.articleTextTop {
    display: flex;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
}

.articleNom {
    font-size: 2em;
    font-weight: 900;
    transform: rotate(-4deg);
    position: relative;
    top: 5px;
}

.articlePrix {
    font-size: 1.5em;
    color: grey;
}

#panier {
    display: flex;
    flex: 1;
    flex-flow: column;
    /* background-color: magenta; */
    background-color: #dfdfdf;
    font-family: PermanentMarker;
}

#rechercheBox {
    /* background-color: hotpink; */
    /* height: 125px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-flow: column; */
    padding-top: 15px;
}

#rechercheBoxLeft {
    flex: 4;
    /* background-color: teal; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 0;
}

#recherche {
    /* width: calc(100% - 30px); */
    /* margin: 15px 0; */
    padding: 3px;
    font-size: large;
    border: none;
    width: 97%;
    position: relative;
    left: 2%;
    border-radius: 4px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    height: 40px;
    transition: transform 0.1s;
}

#recherche:focus {
    /* outline: 1px solid grey; */
    outline: none;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    transition: transform 0.1s;
}

#rechercheBoxRight {
    flex: 1;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#rechercheValiderBouton {
    background-color: white;
    border-radius: 4px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
}

#rechercheValiderBouton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s;
}

#rechercheValiderBouton img {
    height: 37px;
}

#panierHeader {
    /* background-color: lawngreen;
    height: 125px;
    width: 100%; */
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
    padding: 5px;
    font-size: 1.2em;
    margin: 15px 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

#supprAllSection {
    border-bottom: grey 1px solid;
    padding: 5px 5px 10px 5px;
    font-size: 1.2em;
    margin: -7px 10px 15px 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

#supprAllBouton {
    background-color: white;
    border-radius: 4px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    padding: 3px 7px;
    transition: transform 0.1s;
}

#supprAllBouton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s;
}

#panierInsert {
    width: calc(100% - 50px);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row;
    padding: 0 25px;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.articleBoxPanier {
    display: flex;
    flex-flow: column;
    padding: 8px;
    background-color: white;
    width: 200px;
    height: 200px;
    /* border: black 2px solid; */
    /* margin: 5px; */
    margin: 9px;
    border-radius: 1%;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    /* margin-bottom: 3%; */
}

.panierPicture {
    height: 120px;
    width: 200px;
    /* border: tomato 1px solid; */
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}

.panierPicture img {
    width: 200px;
    /* flex: 1; */
    height: auto;
    box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.panierText {
    /* color: tomato; */
    display: flex;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 66px;
    font-family: PermanentMarker;
}

.panierTextTop {
    display: flex;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
}

.panierNom {
    font-size: 1.2em;
    font-weight: 900;
    transform: rotate(-4deg);
    position: relative;
    top: 2px;
}

.panierPrix {
    font-size: 1em;
    color: grey;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
}

.articleBoxPanierOnTop {
    height: 0px;
}

.fakeBox {
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transform: rotate(5deg);
    font-size: 10em;
    z-index: 20;
}

.fakeBox2 {
    height: 200px;
    width: 300px;
    position: relative;
    bottom: 200px;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 10em;
    z-index: 20;
}

.trashButton {
    height: 40px;
    width: 40px;
    position: relative;
    right: 45px;
    bottom: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-left-radius: 50%;
    transition: transform 1s;
    box-shadow: -4px 4px 3px #0000001a;
    /* border-bottom-right-radius: 50%; */
}

.trashButton:hover {
    cursor: pointer;
    transition: transform 1s;
    color: #ff0037;
    font-size: 30px;
    /* -webkit-text-stroke: 1px #00c1da; */
}

.epic {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab), ; */
    /* background: url("./Style/Images/Epic_sax_guy.gif"), linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab), ; */
    background-image: url("./Images/Epic_sax_guy.gif");
    /* background-size: 400% 400%; */
    animation: gradient 5s ease infinite, 0.5s apear;
    background-size: 73vh;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes apear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}